:root {
    --primary_color: #b0b7c0;
    --secondary_color: #595e60;
    --background_color: #171710;
    --card-color: white;
    --text_color: white;
}

svg {
    width: 28px;
    height: 28px;
    fill: white;
    transform: translateY(4px);
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: clamp(250px, 20vw, 500px) 1fr;
    grid-template-rows: 150px 1fr;
    margin: 0;
    background-color: var(--primary_color);
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
    font-size: 20px;
    line-height: 2;
    padding-left: 5%;
}
    

.logo {
    font-size: 30px;
    font-weight: 100;
}

.icon {
    width: 18px;
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: var(--text_color);
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--background_color);
}

.main {
    background-color: var(--primary_color);
}

.header {
    background-color: var(--secondary_color);
    display: grid;
    grid-template-columns: repeat(2, max(50%, 300px));
    grid-template-rows: repeat(2, max(50%, 40px));
    
}

.search, .profile, .user, .functions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile_img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px;
    padding-top: 0;
}

.card {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    border-radius: 20px;
    padding: 10px;
}
